.sideMenu {
    height: 30em;
    width: 20em;
    overflow-x: hidden;
    overflow-y: scroll;
    border: thin solid #808080;
    padding-left: 0.3%;
    padding-top: 0.3%;
}

.hider {
    position: relative;
    left: 3%;
}