.p1 {
    padding-top: 18.2%;
    padding-left: 13%;
    padding-bottom: 18.2%;
    font-size: 10em;
    font-family: sans-serif;
    transition-property: color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.p1:hover {
    color: #0000ff;
}