.footer {
    height: 27em;
    margin-top: 5%;
    background-color: #005b80;
}

.footer div {
    display: inline-block;
    font-family: sans-serif;
    color: #daa520;
}

.block1 {
    border-right-width: thin;
    border-right-style: solid;
    margin-top: 2%;
    height: 17.4em;
    width: 35em;
}

.block1 img:hover {
    cursor: pointer;
}

.block2 {
    position: relative;
    border-bottom-width: thin;
    border-bottom-style: solid;
    top: -46.3%;
    left: 2%;
    height: 5em;
    width: 38em;
}

.block2 div:hover {
    color: #ffc0cb;
    cursor: pointer;
}

.block3 {
    position: relative;
    top: -71%;
    left: 38.8%;
    border-bottom-width: thin;
    border-bottom-style: solid;
    height: 5em;
    width: 38em;
}

.block4 {
    position: relative;
    top: -43%;
    left: 2%;
    font-size: 0.9em;
}

.block4 a {
    color: #daa520;
}

.block4 a:hover {
    color: #ffc0cb;
}

.block5 {
    position: relative;
    top: -64.5%;
    left: 17%;
    font-size: 3em;
    width: 3em;
    height: 3.23em;
    border-left-width: thin;
    border-left-style: solid;
    padding-left: 0.7%;
}

.schoolLogo {
    position: relative;
    left: 2%;
}

.schoolName {
    position: relative;
    top: 5.4%;
    left: 2%;
    font-size: 1.07em;
    font-weight: bold;
    color: #daa520;
    width: 29em;
    padding-bottom: 0.3%;
    border-bottom-width: thin;
    border-bottom-style: solid;
}

.address1 {
    position: relative;
    top: 7%;
    left: 2%;
    font-size: 0.9em;
}

.location {
    position: relative;
    top: 20%;
    left: -2.8%;
    height: 10em;
}


.viewMap {
    position: relative;
    top: 2%;
}

.locatMap {
    position: relative;
    font-size: 0.88em;
    top: 7.2%;
    height: 1em;
    left: 10%;
}

.locatMap:hover {
    color: #ffc0cb;
    cursor: pointer;
}

.address2 {
    position: relative;
    top: 10%;
    left: 2%;
    font-size: 0.9em;
}

.teleNum1 {
    position: relative;
    top: 10.2%;
    left: 14.6%;
    font-size: 0.9em;
}

.teleNum1:hover {
    color: #ffc0cb;
    cursor: pointer;
}

.teleNum2 {
    position: relative;
    top: 12.4%;
    left: 65%;
    font-size: 0.9em;
}

.teleNum2:hover {
    color: #ffc0cb;
    cursor: pointer;
}

.emergency {
    position: relative;
    top: 22%;
    left: -0.1%;
    font-size: 1.2em;
    border-width: 0.13em;
    border-style: solid;
    padding: 1%;
}

.contact {
    position: relative;
    top: 23%;
    left: 10%;
    font-size: 1.3em;
    padding: 1%;
}

.press {
    position: relative;
    top: 23%;
    left: 21%;
    font-size: 1.3em;
    padding: 1%;
}

.careers {
    position: relative;
    top: 23%;
    left: 32%;
    font-size: 1.3em;
    padding: 1%;
}

.followUs {
    position: relative;
    font-size: 1em;
    top: 27%;
    left: 1%;
    height: 1.7em;
    width: 36em;
}

.followUs span:hover {
    color: #ffc0cb;
    cursor: pointer;
}

.followUsMsg {
    position: relative;
    opacity: .6;
    top: -40%;
}

.facebook {
    position: relative;
    top: -6%;
    left: 3%;
}

.twitter {
    position: relative;
    top: -20%;
    left: 4%;
}

.instagram {
    position: relative;
    top: -24%;
    left: 6.5%;
}

.youtube {
    position: relative;
    top: -4%;
    left: 9%;
}

.linkedin {
    position: relative;
    top: -21%;
    left: 11.5%;
}

.motto:hover {
    color: #ffc0cb;
    cursor: pointer;
}